*.ext
*.raw
*.log
inverter/untitled.sch
comparator/mc_run/
comparator/run.spice
cdac/mc_run/
cdac/run.spice
sar_logic/runs/
sar_logic/sim
adc/conv.txt
adc/run*.spice
adc/*.so
adc/sar_top_obj_dir/
top/*.ext
top/extract.log
top/netgen.log
top/sky130_fd_sc_hd__*.ext
